@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!--  Sidebar Left -->
    <div class="col-lg-2 col-md-12 sidebar-left">
        <div class="panel panel-default header-panel">
            <div class="panel-heading">
                <p class="text-header-label"><span class="header-label">THÔNG TIN</span></p>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <!-- End Sidebar Left -->
    <!-- Main Center -->
    <div class="col-lg-7 col-md-8 main-center">
        <div class="panel panel-default header-panel">
            <div class="panel-heading">
                <p class="text-header-label"><span class="header-label">BÀI VIẾT MỚI</span></p>
            </div>
            <div class="main-contain-top">
                <div class="row">
                    <div class="container-fluid">
                        <div class="information-top">
                            <h2><a href="index1.html" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                            <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                        </div>
                        <div class="information-write">
                            <div class="information-write-image">
                                <a href="#" class="information-link-image">
                                    <img class='information-image' src="Wind.png" alt="Wind">
                                </a>
                            </div>
                            <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-contain">
            <div class="row">
                <div class="container-fluid">
                    <div class="information-top">
                        <h2><a href="#" class="text-header">Bài 2: Các thẻ cơ bản về Css</a></h2>
                        <p class="information-content"> Tác giả:&nbsp;Thắng  &nbsp;&nbsp;&nbsp; Ngày:&nbsp;16/04/2017 &nbsp;&nbsp;&nbsp; Thuộc:&nbsp;<a href="#" class="information-link">Học Css</a> </p>
                    </div>
                    <div class="information-write">
                        <div class="information-write-image">
                            <a href="#" class="information-link-image">
                                <img class='information-image' src="Wind.png" alt="Wind">
                            </a>
                        </div>
                        <p class="information-write-content">Xin chào tất cả các bạn, chào mừng các bạn đã quay trở lại với Thắng trong danh sách bài hướng dẫn xây dựng trang html-css. Ở trong bài trước, chúng ta đã hoàn thiện các chức năng của bài viết, hôm nay mình sẽ hướng dẫn các bạn một số các cái yêu cẩu của css. cú pháp của nó.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- End Main Center -->
    <!-- Sidebar Right -->
    <div class="col-lg-3 col-md-4 sidebar-right">
        <div class="panel panel-default header-panel">
            <div class="panel-heading">
                <p class="text-header-label"><span class="header-label">SERIES BÀI HỌC</span></p>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
    <!-- End Sidebar Right -->

</div>